
/*----------------------------le header-------------------------------------------------*/
body{
    background-image:url("http://cdn.pcwallart.com/images/seychelles-wallpaper-1.jpg");

}

#wrapper{
    background-color: whitesmoke;
    margin-right: 15%;
    margin-left: 15%;
    min-width: 65%;
}

#logo img{
    width :120px;
    margin-left: 15px;
    margin-top: 15px;
    float:left;

}
#logo{
    margin-top: 0;
}


#header{
    position: relative;
    width: 100%;
    min-width: 65%;
    height: 78px;
    background: grey;

}
#menu{

    margin-left: 50px;
    list-style-type: none;
}
#menu li
{
    margin-top: 4%;
    cursor: pointer;
    height: 40px;
    display: inline-block;
    width: 150px;
    text-align: center;
}

#menu li a
{
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
    color: white;

}

#menu li:hover{
    border-top: solid 3px #4ecaed;

}

#menu li a:hover{
    color:#4ecaed;
}
#slider{
    width: 100%;
    height: 300px;
    margin-top: -10px;
}
/*---------------------------le footer--------------------------------------------------------------------*/

footer{
    position: relative;
    width: 100%;
    min-width: 70%;
    background: grey;
    display: inline-block;
}
.facebook{
    float: right;
    display: inline-block;
}
.copyright{
    display: inline-block;
    float: left;
}





/*------------------------------------------le corp---------------------------------------------------------*/
#promo{
    width: 80%;
    min-width: 60%;
    margin-left: auto;
    margin-right: auto;

}
#promo li{
    display: inline-block;
    margin-left:30px ;
    width: 250px;
    height: 377px;
    text-align: center;
    border:solid 2px darkgray;
    border-radius: 10px;
}
.para{
    width:200px;
    display: inline-block;
}
.prix{
    width:70px;
    display: inline-block;
}
.rond{
    margin-top: 5%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.rond li{
    display: inline-block;
    margin-left:30px ;
    width: 250px;
    height: 350px;
    text-align: center;
    border:solid 2px darkgray;
    border-radius: 10px;
}
.para{
    margin-top: 25%;
    width:200px;
    display: inline-block;
}
.prix{
    width:70px;

    display: inline-block;
}
.button{
    margin-top: 20px;
    width: 100px;;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    text-align: center;
    background: gray;
    cursor: pointer;
}
.button a{
    display: block;
    color: deepskyblue;
    text-decoration: none;
}

.intro{
    width: 80%;
    min-width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 10%;
}

/*------------------------------------------------------- la page catalogue------------------------------------------------------------*/

#menu_cata{
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;

}
#menu_cata ul li
{
    background:linear-gradient(whitesmoke,dodgerblue);
    border-radius: 6px;
    margin-top: 1%;
    margin-bottom: 2%;
    cursor: pointer;
    height: 40px;
    display: inline-block;
    width: 150px;
    text-align: center;
}

#menu_cata li a{
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
    color: black;
    transition: background 1s;
}
#menu_cata li a:hover{
    background: transparent;
    transition: background 0s;
    color: aqua;
}
#menu li:hover{
    padding: 7px;
}
.cata{
    width: 100%;
    min-width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.li_du_catalogue{
    display: inline-block;
    margin:30px ;
    width: 250px;
    height: 377px;
    text-align: center;
    border:solid 2px darkgray;
    border-radius: 10px;
}

.li_du_catalogue,.details{
    list-style-type: none;
}
.forfait_detail a{
    display: block;
    color: deepskyblue;
    text-decoration: none;
    list-style-type: none;

}
.forfait_detail{
    margin-top: 20px;
    width: 100px;;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    text-align: center;
    background: gray;
    cursor: pointer;
}

/*---------------------------------------le modal box----------------------------------------------------*/

.mb_container {
    display:none;
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    z-index: 100;
}

.mb_container > .mb_background {
    display: block;
    background-color: black;
    opacity: 0.8;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
#reserver{
    background: white;
    border-radius: 10px;
    display: none;
    margin: 100px auto;
    position: relative;
    width: 500px;
    padding: 40px;
}
#box li{
    list-style-type: none;
}
#box button a{
    display: block;
}
#box button {
    background:linear-gradient(whitesmoke,dodgerblue);
    border-radius: 6px;
    margin-top: 15%;
    margin-bottom: 5%;
    margin-left: 25%;
    cursor: pointer;
    height: 40px;
    display: inline-block;
    width: 150px;
    text-align: center;

    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
    color: black;
    transition: background 1s;
}
/*--------------------------------------le formulaire--------------------------------------------------*/

form div {
    margin: 0 0 15px 160px;
}


form div label {
    width: 140px;
    float: left;
    text-align: right;
    margin: 5px 20px 0 -160px;
}

#form_resa{
    margin-top: 10%;
}

#form_resa .error {
    border : 2px solid red;
    background-color: #ffc7c5;
}

/* Signaler erreur les checkbox  */
#form_resa .cberror {
    outline-color : red;
    outline-style : solid;
    outline-width : thin;
}

/* Signaler erreur les checkbox  */
#form_resa .error_msg {
    display : inline-block;
    margin:0;
    color:red;
}
/*---------------------------------------la page contact----------------------------------------------------*/
.ville{
    width: 40%;
    min-width: 40%;
    margin-left: auto;
    margin-right: auto;
}
.ville:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);
}
#cont{
    color: dodgerblue;
    text-align: center;
}
.contact:hover{
    background-color: cornsilk;

}
#bout {
    background-color: dodgerblue;
}