
/*----------------------------le header-------------------------------------------------*/
body{
    background-image:url("http://cdn.pcwallart.com/images/seychelles-wallpaper-1.jpg");

}

#wrapper{
    background-color: whitesmoke;
    margin-right: 15%;
    margin-left: 15%;
    min-width: 65%;
}

#logo img{
    width :120px;
    margin-left: 15px;
    margin-top: 15px;
    float:left;

}
#logo{
    margin: 0;
}


#header{
    position: relative;
    width: 100%;
    min-width: 65%;
    height: 78px;
    background: grey;

}
#menu{

    margin-left: 50px;
    list-style-type: none;
}
#menu li
{
    margin-top: 4%;
    cursor: pointer;
    height: 40px;
    display: inline-block;
    width: 150px;
    text-align: center;
}

#menu li a
{
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
    color: white;

}

#menu li:hover{
    border-bottom: solid 3px #4ecaed;

}

#menu li a:hover{
    color:#4ecaed;
}
#slider{
    width: 100%;
    height: 300px;
}
/*---------------------------le footer--------------------------------------------------------------------*/

footer{
    position: relative;
    width: 100%;
    min-width: 70%;
    background: grey;
    display: inline-block;
}
.facebook{
    float: right;
    display: inline-block;
}
.copyright{
    display: inline-block;
    float: left;
}





/*------------------------------------------le corp---------------------------------------------------------*/
#promo{
    width: 80%;
    min-width: 60%;
    margin-left: auto;
    margin-right: auto;

}
#promo li{
    display: inline-block;
    margin-left:30px ;
    width: 250px;
    height: 377px;
    text-align: center;
    border:solid 2px darkgray;
    border-radius: 10px;
}
.para{
    width:200px;
    display: inline-block;
}
.prix{
    width:70px;
    display: inline-block;
}
.rond{
    margin-top: 5%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.rond li{
    display: inline-block;
    margin-left:30px ;
    width: 250px;
    height: 350px;
    text-align: center;
    border:solid 2px darkgray;
    border-radius: 10px;
}
.para{
    margin-top: 25%;
    width:200px;
    display: inline-block;
}
.prix{
    width:70px;

    display: inline-block;
}
.button{
    margin-top: 20px;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    text-align: center;
    background: gray;
    color: white;
    padding-top: 10px;
    cursor: pointer;
}
.intro{
    width: 80%;
    min-width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 10%;
}